# Tests Artefacts 
redis-server
release-note.md
# Just testing new idea
ins

*.prof
# After delete
nginx
git
redis/
RELEASE.md
TODO
INSTRUCTION.md
keys.toml
testdata/
FULL_DOCS.md
# Binary files (Output)
builds/
.idea
hello
*.o
*.out
*.bin
.fz_cache
node_modules/
package-lock.json
release
fz-shell
rustcache/target/
rustcache/Cargo.lock
*.exe
# OS stuff
.DS_Store
x86_64-linux-musl-cross/
# Binaries
fzt
fzt.exe
fzt.old
# Script for build release binaries 
release.sh
# Build artifacts
*.o
*.a
*.so
*.dll
*.dylib
*.elf

# Benchmark & stress test directories
ninja_benchmark_*/
stress_test_*/
bench_*/
test_results/
!internal/musl/assets/musl/**/*.o
!internal/musl/assets/musl/**/*.a
# Local scripts & temp files
ningja.sh
test.sh
*.tmp
*.log
*.pid
TODO.md
cmake_bench/
super.sh
.venv
// After remove
.fz_objs/
CONTRIBUTING_USER.md
blake3.manifest
.fzignore
.fz.yaml
assets/
# Go
/go.sum.bak
/vendor/

.clang-format
